.figura{
    width: 480px;
}
.ajuste{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
    color: orangered;
}

.link:hover{
    text-decoration: none;
    color:red;
}