.Generations {
    margin:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.Modal{
    background-color: rgb(255,199,44) ;
    display: flex;
    justify-content: space-around;
}
.headerCard{
    display: flex;
    background-color: #FFC629;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
}
.card2{
    background-color:#EAEAEA;
    display: flex;
    justify-content: center;
    
}

.cardMenor{
    height: 60px;
    cursor: pointer;
    position: relative;
  }

  .container{
      background-color:#D8BFD8 ;
  }
  
  .tabela1 {
    margin-top: 2cm;
  }
   