body{
  background-color: black;
}
.Pokemon-List {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: tomato;
  width: 75vw;
  flex-wrap: wrap;
  margin: 10px;

}

.Berries-List {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 75vw;
  flex-wrap: wrap;
  margin: 10px;

}

.Contests-List {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: rgb(26, 18, 139);
  width: 75vw;
  flex-wrap: wrap;
  margin: 10px;

}

