* {
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 36, 36);
}

h1 {
  color: #fff;
  text-align: center;
  margin: 50px;
}

img {
  width: 45px;
}

.Berries-List {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75vw;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  align-items: center;
  padding-top: 1rem;
  padding: 3rem;
}

.card:hover {
  box-shadow: 1px 2px 3px rgb(206, 206, 206);
  -webkit-transform: translateX(-3px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-body {
  padding: 0 1rem 1rem 1rem;
}

.card-text {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: #EBCC44;
  border-color: #EBCC44;
  color: #000;
  padding: 0.2rem .6rem;
  font-size: 0.9rem;
}

.btn-primary:hover {
  background-color: #f3e192;
  border-color: #f3e192;
  color: rgb(78, 78, 78);
}

